/* ------------------------ Navbar Desktop --------------------------*/
*{
  font-family: 'Poppins';
  font-style: normal;  
}

.header {

  position: absolute;
  width: 100vw;
  max-width: 100%;
  height: 108px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
}

.header .img{
  
  position: absolute;
  width: 40px;
  height: 34px;
  left: 60px;
  top: 37px;
}

.header .menu-icon{
  position: absolute;
  right: 32px;
  top: 37px;
  display: none;
}

.header h1{
  
  position: absolute;
  left: 115px;
  top: 42px;

  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  /* identical to box height */
  display: flex;
  align-items: center;

  color: #252940;
  }


.header .navbar-nav{
  position: absolute;
  left: 323px;
  top: 58.5px;

  display: flex;
  align-items: center;
  text-align: center;
}

.header .navbar-nav ul li{
  list-style: none;
  display: inline-block;
}

.header .navbar-nav ul li a{
  margin: 0 20px;
 
  
  font-weight: 400;
  font-size: 16px;
  line-height: 138.4%;
  text-decoration: none;
  color: rgba(37, 41, 64, 0.97);
}

.header .navbar-nav a:hover{
  color: rgba(242, 175, 92, 0.97);
}

.header .navbar-nav .button-download{
   /* Auto layout */
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  margin: 0 20px;
  width: 185px;
  height: 40px;


  background: rgba(242, 175, 92, 0.97);
  border-radius: 5px;
}

.header .navbar-nav .button-download:hover{
  background: rgba(242, 175, 92, 0.82);

}

.header .navbar-nav .button-download h6{

  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;

  text-align: center;
  letter-spacing: 0.2px;

  /* BodeTech/Text/Primary */
  color: #252940;
}


/* ------------------------ Page One Desktop ------------------------*/

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* width Scrollbar*/
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:hover{
  width: 10px;
}

/* Track Scrollbar */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle Scrollbar*/
::-webkit-scrollbar-thumb {
  background:  rgba(242, 175, 92, 0.72);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  rgba(242, 175, 92);

}

body .page-one{
  left: 0px;
  top: 106px;

  position: absolute;
  width: 100vw;
  max-width: 100%;
  height: 645px;
  background: linear-gradient(180deg, rgba(242, 175, 92, 0.9506) 0%, rgba(255, 255, 255, 0.98) 81.77%);
}

body .page-one .text-title{
  position: absolute;
  width: 640px;
  height: 165px;
  left: 80px;
  top: 106px;

  font-weight: 600;
  font-size: 44px;
  line-height: 55px;

  letter-spacing: 0.1px;
  
  color: #252940;
}

body .page-one .text-body{
  position: absolute;
  width: 640px;
  height: 148px;
  left: 80px;
  top: 237px;

  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  
  /* or 156% */
  letter-spacing: 0.1px;
  
  color: #252940;
}

body .page-one .button-download-2{
  /* Auto layout */
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  position: absolute;
  width: 325px;
  height: 40px;
  left: 80px;
  top: 377px;;

  /* BodeTech/Primary color/Laranja */
  background: #F2AF5C;
  border-radius: 5px;
}

body .page-one .button-download-2:hover{
  background: rgba(242, 175, 92, 0.82);
}

body .page-one .button-download-2 h6{
 
 font-weight: 600;
 font-size: 14px;
 line-height: 18px;
 text-decoration: none;

 text-align: center;
 letter-spacing: 0.2px;

 color: #252940;
}

body .page-one .celular{
  position: absolute;
  width: 327px;
  height: auto;
  right: 360px;
  top: 50px;
}

body .page-one .celular-2{
  display: none;
}

body .page-one .bode-capa{
  position: absolute;
  width: 520px;
  height: auto;
  right: 0px;
  top: -16px;
}

body .page-one .retangulo{
  position: absolute;
  width: 100vw;
  max-width: 100%;
  height: 652px;
  left: 0px;
  top: 6px;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40.95%, #ffffff 100vw);
  
}

/* ------------------------ Page Two Desktop --------------------------*/

body .page-two .text-title {
  position: absolute;
  width: 721px;
  height: 136px;
  left: calc(50% - 721px/2 + 0.5px);
  top: 780px;

  
  font-weight: 600;
  font-size: 44px;
  line-height: 55px;

  /* or 125% */
  text-align: center;
  letter-spacing: 0.1px;

  color: #252940;
}

body .page-two .card-1{
  position: absolute;
  width: 403px;
  height: 265px;
  left: 60px;
  top: 980px;
  
  background: rgba(242, 175, 92, 0.15);
  border-radius: 10px;
}


body .page-two .card-2{
  position: absolute;
  width: 403px;
  height: 265px;
  left: 485px;
  top: 980px;
  
  background: rgba(242, 175, 92, 0.15);
  border-radius: 10px;
}


body .page-two .card-3{
  position: absolute;
  width: 403px;
  height: 265px;
  left: 910px;
  top: 980px;
  
  background: rgba(242, 175, 92, 0.15);
  border-radius: 10px;
}

body .page-two .card-4{
  position: absolute;
  width: 403px;
  height: 265px;
  left: 60px;
  top: 1268px;
  
  background: rgba(242, 175, 92, 0.15);
  border-radius: 10px;
}


body .page-two .card-5{
  position: absolute;
  width: 403px;
  height: 265px;
  left: 485px;
  top: 1268px;
  
  background: rgba(242, 175, 92, 0.15);
  border-radius: 10px;
}


body .page-two .card-6{
  position: absolute;
  width: 403px;
  height: 265px;
  left: 910px;
  top: 1268px;
  
  background: rgba(242, 175, 92, 0.15);
  border-radius: 10px;
}

body .page-two h3{
  margin-top: 38px;
  margin-left: 108px;
  width: 272px;
  height: 28px;

  font-weight: 600;
  font-size: 20px;
  line-height: 45px;
  
  /* or 225% */
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  
  color: #252940;
}

body .page-two h4{
  margin-top: 8px;
  margin-left: 108px;
  width: 272px;
  height: 174px;
 
  
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  /* or 156% */
  letter-spacing: 0.1px;

  color: #252940;
}

body .page-two .ellipse{
  position: absolute;
  margin-top: 38px;
  margin-left: 17px;
}
/* ----------------------- Page Three Desktop -------------------------*/

body .page-three{
  position: absolute;
  width: 100vw;
  height: 651px;
  left: 0px;
  top: 1646px;
  }

body .img-bodes{
  width: 100%; 
  height: 100%;
}

body .img-bodes-2, body .img-bodes-3{
  display: none;
  width: 100%; 
  height: 100%;
}

body .page-three h1{
  position: absolute;
  width: 512px;
  height: 88px;
  left: calc(50% - 512px/2);
  margin-top: -600px;

  font-weight: 600;
  font-size: 36px;
  line-height: 45px;

  /* or 125% */
  text-align: center;
  letter-spacing: 0.1px;

  color: #ffffff;  
}

body .page-three .container{
  position: absolute;
  width: 100vw;
  display: flex;
  overflow: hidden;

  left: 9.5%;
  top: 32%;
}

body .page-three .transition-div {
  flex: 0 0 5%;
  display: none;
  justify-content: space-between;
  
  align-items: flex-start;
  padding: 50px 20px;

  width: calc(522px*0.90);
  height: calc(331px*0.90);
  margin-left: 70px;


  background: #FDF3E7;
  border-radius: 10px;
}

body .page-three .transition-div.show {
  display: block;
}

body .page-three .container h5{
  width: 408px;
  height: 226px;

  font-style: italic;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;

  /* or 156% */
  text-align: center;
  letter-spacing: 0.1px;

  color: #252940;
}

body .page-three .container h6{
  width: 408px;
  height: 226px;

  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  /* or 156% */
  text-align: center;
  letter-spacing: 0.1px;
  margin-top: -30px;

  color: #252940;
}

body .page-three .arrow-left{
  position: absolute;
  top: 50%; 
  left: 80px;
  cursor: pointer;
}

body .page-three .arrow-left:hover{
  opacity: 0.5;
}

body .page-three .arrow-right{
  position: absolute; 
  top: 50%; 
  right: 80px;
  cursor: pointer;
}

body .page-three .arrow-right:hover{
  opacity: 0.5;
}

body .page-three .scrollable-content {
  position: absolute; 
  bottom: 60px; 
  left: 590px;
  width: 800px; /* Largura ajustável conforme sua necessidade */
  white-space: nowrap;
}

body .page-three .scrollable-content img {
  margin: 2px;
  height: auto;
  display: inline-block;
}

/* ------------------------ Page Four Desktop ---------------------------*/

body .page-four .bode-peso{
  position: absolute;
  left: -2px; 
  top: 2297px;
}

body .page-four .pesando-bode{
  position: absolute; 
  left: 181px; 
  top: 2310px;
}

body .page-four h1{
  position: absolute;
  width: 640px;
  height: 165px;
  left: 720px;
  top: 2358px;

  font-weight: 600;
  font-size: 44px;
  line-height: 55px;
  
  /* or 125% */
  letter-spacing: 0.1px;
  
  color: #252940;  
}

body .page-four h5{
  position: absolute;
  width: 600px;
  height: 124px;
  left: 720px;
  top: 2549px;

  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  
  /* or 156% */
  letter-spacing: 0.1px;
  
  color: #252940;
}

body .page-four .button-download{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  position: absolute;
  width: 325px;
  height: 40px;
  left: 715px;
  top: 2699px;

  background: rgba(242, 175, 92, 0.97);
  border-radius: 5px;}

  body .page-four .button-download:hover{
    background: rgba(242, 175, 92, 0.82);
  }

  body .page-four .button-download h6{
 
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;

  text-align: center;
  letter-spacing: 0.2px;

  /* BodeTech/Text/Primary */
  color: #252940;
}


/* ------------------------ Page Five Desktop --------------------------*/

body .page-five{
  position: absolute;
  width: 100vw;
  height: 1012px;
  left: 0px;
  top: 2868px;
  
  background: rgba(253, 243, 231, 0.97);
}

body .page-five h1{
  position: absolute;
  width: 721px;
  height: 91px;
  left: calc(50% - 721px/2 + 11.5px);
  top: 106px;

  font-weight: 600;
  font-size: 36px;
  line-height: 45px;

  text-align: center;
  letter-spacing: 0.1px;

  color: #252940;
}

body .page-five h2{
  position: absolute;
  width: 380px;
  top: 38px;
  margin-left: 33px;

  font-weight: 600;
  font-size: 24px;
  line-height: 30px;

  letter-spacing: 0.1px;
  color: #252940;
}

body .page-five h5{
  width: 305px;
  height: 121px;

  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.1px;
  
  color: #252940;
}

body .page-five .cards{
  position: absolute;
  overflow: hidden;
  display: flex;
  left: 60px;
  top: 242px;
}

body .page-five .cards .transition-card{
  justify-content: space-between;
  margin-left: 18px;
  width: 400px;
  height: 642px;

  background: #FFFFFF;
  border-radius: 10px;
}

body .page-five .button-download{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  
  position: absolute;
  width: 325px;
  height: 40px;
  left: 558px;
  margin-top: 929px;
  
  background: rgba(242, 175, 92, 0.97);
  border-radius: 5px;
}

body .page-five .button-download:hover{
  background: rgba(242, 175, 92, 0.82);
}

body .page-five .button-download h6{
 
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;

  text-align: center;
  letter-spacing: 0.2px;

  color: #252940;
}

body .page-five ul {
  margin-top: 90px;
  margin-left: 36px;
}

body .page-five ul li img {
  vertical-align: middle;
}

body .page-five ul li {
  list-style-type: none;
  text-indent: -2.8em;

  display: block;
  text-align: left;
  margin-left: 36px;
}

body .page-five .arrow-left, body .page-five .arrow-right, body .page-five .bar-scroll-1, body .page-five .bar-scroll-3,
body .page-five .bar-scroll-4 {
  display: none;
}

/* ----------------------- Page Five celular -------------------------*/

@media screen and (max-width: 414px){
  body .page-five{
    height: 884px;
    left: 0;
    top: 3362px !important;
    z-index: 3;
  }
  body .page-five h1{
    width: 327px;
    height: 76px;
    left: calc(50% - 327px/2 - 0.5px);
    top: 32px;
    
    font-size: 20px;
    line-height: 25px;
  }

  body .page-five h2{
    width: 267px !important;
    top: 38px !important;

    font-size: 20px !important;
    line-height: 25px !important;
  }
  body .page-five h5{
    width: 220px !important;

    font-size: 13px !important;
    line-height: 18px !important;
  }
  body .page-five ul {
    margin-top: 110px !important;
  }

  body .page-five ul li {
    margin-top: 15px !important;
  }

  body .page-five .cards{
    width: 80vw !important;
    left: 33px !important;
    top: 170px !important;
  }

  body .page-five .cards .transition-card{
    width: 327px !important;
    height: 530px !important;
    display: none !important;
  }

  body .page-five .cards .transition-card.show{
    display: block !important;
  }

  body .page-five .arrow-left{
    left: 10% !important;
    top: 82% !important;
  }
  body .page-five .arrow-right{
    right: 10% !important;
    top: 82% !important;
  }

  body .page-five .scrollable-content-2 {
    left: 28% !important;
    top: 735px !important;
  }

  body .page-five .button-download{
    width: 328px !important;
    height: 40px !important;
    left: 42px !important;
    top: -120px !important;
  }
}

/* ------------------------ Page Six Desktop --------------------------*/

body .page-six {
  position: absolute;
  width: 1104px;
  height: 402px;
  left: 168px;
  top: 3925px;

  background: rgba(242, 175, 92, 0.97);
  border-radius: 10px;
}

body .page-six h1{
  position: absolute;
  width: 481px;
  height: 116px;
  left: calc(730px - 168px);
  top: calc(3972px - 3925px);

  font-weight: 600;
  font-size: 50px;
  line-height: 56px;

  letter-spacing: 0.1px;
  color: #252940;
}


body .page-six h5{
  position: absolute;
  width: 481px;
  height: 99px;
  left: calc(730px - 168px);
  top: calc(4114px - 3925px); 

  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  letter-spacing: 0.1px;
  color: #252940;
}

body .page-six .button-download{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  
  position: absolute;
  width: 325px;
  height: 40px;
  left: 558px;
  top: calc(4239px - 3925px);
  
  background: #FFFFFF;
  border-radius: 5px;
}

body .page-six .button-download h6{
 
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;

  text-align: center;
  letter-spacing: 0.2px;

  color: #252940;
}

body .page-six .button-download h6:hover{
  color: rgba(242, 175, 92, 0.97);
}

body .page-six .ellipse{
  position: absolute; 
  left: 0px; 
  top: 8px;
}

body .page-six .ellipse3{
  display: none;
}

body .page-six .bode-reader{
  position: absolute; 
  left: 0px; 
  top: 0px;
}

/* ------------------------ Page Seven Desktop --------------------------*/

body .page-seven {
  position: absolute;
  width: 100vw;
  height: 559px;
  left: 0px;
  top: 4378px;

  background: #F9F9F9;
}

body .page-seven h1{
  position: absolute;
  width: 492px;
  height: 165px;
  left: 80px;
  top: calc(4450px - 4378px);

  font-weight: 600;
  font-size: 44px;
  line-height: 55px;

  /* or 125% */
  letter-spacing: 0.1px;

  color: #252940;
}

body .page-seven h5{
  position: absolute;
  width: 600px;
  height: 102px;
  left: 80px;
  top: calc(4590px - 4378px);

  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  /* or 156% */
  letter-spacing: 0.1px;

  color: #252940;
  }

body .page-seven .text-email{
  position: absolute;
  width: 211px;
  height: 26px;
  left: 108px;
  top: 4720px;

  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  /* or 156% */
  letter-spacing: 0.1px;

  color: #252940;
  }

  body .page-seven .container {
    position: absolute;
    flex-direction: column;
    left: 748px;
    top: 72px;
  }

  
  
  body .page-seven .container .first-name{
    position: absolute; 
    left: 0px; 
    top: 0px;
  }

  body .page-seven .container .second-name{
    position: absolute; 
    left: 295px; 
    top:0px;
    }

  body .page-seven .container .email2{
    position: absolute; 
    left: 0px; 
    top:78px;
  }

  body .page-seven .container .whatsapp{
    position: absolute; 
    left: 295px; 
    top:78px;
    }

  body .page-seven .container .mensage{
    position: absolute; 
    left: 0px; 
    top:156px;
  }

  body .page-seven .input-email {
  
    box-sizing: border-box;
  
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 9px 16px;
    gap: 10px;
  
    width: 263px;
    height: 40px;
  
    background: #FFFFFF;
  
    /* BodeTech/Background/Dividers & Borders */
    border: 1px solid #ECECED;
    border-radius: 5px;
  }
  
  body .page-seven .label-email{
    width: 267px;
    height: 16px;

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
  
    /* BodeTech/Text/Primary */
    color: #252940;
  }
  
  body .page-seven .input-whatsapp {
  
    box-sizing: border-box;
  
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 9px 16px;
    gap: 10px;
  
    width: 263px;
    height: 40px;
  
    background: #FFFFFF;
  
    /* BodeTech/Background/Dividers & Borders */
    border: 1px solid #ECECED;
    border-radius: 5px;
  }
  
  body .page-seven .label-whatsapp{
    width: 267px;
    height: 16px;

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  
    /* identical to box height, or 114% */
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
  
    /* BodeTech/Text/Primary */
    color: #252940;
  }

  body .page-seven .input-mensagem {
  
    box-sizing: border-box;
  
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 9px 16px;
    gap: 10px;
  
    width: 558px;
    height: 155px;
  
    background: #FFFFFF;
  
    /* BodeTech/Background/Dividers & Borders */
    border: 1px solid #ECECED;
    border-radius: 5px;
  }
  
  ::placeholder {
    width: 167px;
    height: 21px;

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  
    /* or 129% */
    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
  
    /* BodeTech/Text/Default */
    color: #D3D4D7;
  }

body .page-seven .submit{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;

    font-weight: 600;
    font-size: 14px;
    line-height: 18px;

    /* identical to box height, or 129% */
    text-align: center;
    letter-spacing: 0.2px;

    /* BodeTech/Text/Primary */
    color: #252940;

    position: absolute;
    width: 325px;
    height: 40px;
    left: 0px;
    top: 373px;

    background: rgba(242, 175, 92, 0.97);
    border-radius: 5px;
  }

  body .page-seven .submit:hover{
    background: rgba(242, 175, 92, 0.82);
  }

  body .page-seven .email{
    position: absolute; 
    left: 108px; 
    top: 342px;
    display: flex;
    align-items: center;
  }

  body .page-seven .phone{
    position: absolute; 
    left: 108px; 
    top: 392px;
    display: flex;
    align-items: center;
  }

/* ------------------------ Page Eight Desktop --------------------------*/

body .page-eight h3{

  position: absolute;
  width: 235px;
  height: 30px;
  left: 84px;
  top: 5014px;

  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  color: #252940;
}

body .page-eight h5{
  position: absolute;
  width: 570px;
  height: 86px;
  left: 84px;
  top: 5070px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #252940;
}

body .page-eight .container {
  position: absolute;
  flex-direction: column;
  left: 80px;
  top: 5203px;
}

body .page-eight .contatos{
  position: absolute; 
  display: flex;
  top: 5279.44px; 
  left: 66px;
}

body .page-eight .contatos a{
  margin-left: 20px;
}

body .page-eight .menu-title{
  position: absolute; 
  top: 5014px; 
  left: 750px;
}

body .page-eight .contato-title{
  position: absolute; 
  top: 5014px; 
  left: 927px;
}

body .page-eight .baixe-app-title{
  position: absolute; 
  top: 5014px; 
  left: 1154px;
}

body .page-eight .google-play{
  position: absolute; 
  top: 5068px; 
  left: 1154px;
}

body .page-eight .apple-store{
  position: absolute; 
  top: 5132px; 
  left: 1154px;
}

body .page-eight .topo{
  position: absolute; 
  top: 5267px; 
  left: 1154px;
}

body .page-eight .contatos a:hover, body .page-eight .apple-store:hover, 
body .page-eight .google-play:hover, body .page-eight .topo:hover{
  opacity: 0.8;
}

body .page-eight .menu{
  position: absolute;
  flex-direction: column;
  text-align: left;
  display: grid;
  top: 5048px;
  left: 750px;
}

body .page-eight .menu a, body .page-eight .contato2 a{
  margin-top: 23px;

  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #252940;
}

body .page-eight .menu a:hover{
  color: rgba(242, 175, 92, 0.97);
}

body .page-eight .contato2{
  position: absolute;
  flex-direction: column;
  text-align: left;
  display: grid;
  top: 5048px;
  left: 927px;
}

body .page-eight .contatos a:hover{
  color: rgba(242, 175, 92, 0.97);
}


body .page-eight .label-email{

  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 6px;

  /* or 114% */
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;

  color: #252940;
}

body .page-eight .submit{
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;

  font-weight: 600;
  font-size: 14px;
  line-height: 18px;

  /* identical to box height, or 129% */
  text-align: center;
  letter-spacing: 0.2px;

  /* BodeTech/Text/Primary */
  color: #252940;
  left: 347px;
  top: 22px;

  position: absolute;
  width: 185px;
  height: 40px;
 
  background: rgba(242, 175, 92, 0.97);
  border-radius: 5px;
}

body .page-eight .submit:hover{
  background: rgba(242, 175, 92, 0.82);
}

body .page-eight .input-email{
  
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 9px 16px;
  gap: 10px;

  width: 325px;
  height: 40px;

  background: #FFFFFF;

  /* BodeTech/Background/Dividers & Borders */
  border: 1px solid #ECECED;
  border-radius: 5px;
}

body .page-eight h2{
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  color: #252940;
}

body .page-eight h4{
  position: absolute;
  width: 105px;
  height: 14px;
  left: 1214px;
  top: 5285px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: right;
  text-decoration-line: none;

  padding-bottom: 0.25rem;
  color: #4AA6E1;
}

body .page-eight h4::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  transition: width 0.25s ease-out;
  background-color: #4AA6E1;
}
  
body .page-eight h4:hover::before{
  width: 40%;
}
  

body .footer{ 
  position: absolute;
  width: 100vw;
  height: 195.51px;
  left: 0px;
  top: 5395px;
  background: rgba(242, 175, 92, 0.97);
}

body .footer p{ 
  position: absolute;
  left: calc(50% - 270px/2);
  bottom: 30px;
  
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  
  color: #252940;  
}

body .footer hr{
  position: absolute;
  width: 1200px;
  height: 1px;
  left: 80px;
  right: 80px;
  bottom: 69px;
  border: none;
  background-color: #252940;
}

body .footer img{
  position: absolute;
  width: 40px;
  height: 34px;
  left: 636px;
  bottom: 106px;
}

body .footer h2{
  position: absolute;
  left: 691px;
  bottom: 106px;

  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  
  /* identical to box height */
  display: flex;
  align-items: center;
  
  color: #252940;
}

/* ------------------------ Navbar iPad --------------------------*/

@media screen and (max-width: 744px){
  .header .navbar-nav{
    position: absolute;
    width: 293px;
    height: 398px;
    left: 451px;
    top: 106px;
    z-index: 4;
    align-items: start;
    background: #FDF3E7F7;

  }
  .header .navbar-nav ul li{
    display: block;
    
    text-align: left;

    margin-left: 6px;
    margin-top: 40px;
  }
  .header .navbar-nav ul li a{

    
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
        
    color: rgba(37, 41, 64, 0.97);
  }
  .header .navbar-nav ul li a::after{
    content: '';
    
    position: absolute;
    width: 283px;
    height: 0px;
    left: 0px;
    margin-top: 40px;
    /* BodeTech/Background/Dividers & Borders */
    border: 1px solid #e4d6c4;

  }
  .header .menu-icon{
    cursor: pointer;
    display: block;
  }
  .header .menu-icon:hover{
    opacity: 0.5;
  }
  .header .navbar-nav .button-download{
    display: none;
  }
  #menuList{
    overflow: hidden;
    transition: 0.6s;
  }
}

/* ------------------------ Navbar celular --------------------------*/

@media screen and (max-width: 414px){
  .header .navbar-nav{
    left: 233px;
    width: 181px;
    top: 105px;
    height: 224.5px;
    background: #FDF3E7F7;
  }
  .header .navbar-nav ul li{
    margin-top: 15px;
  }
  .header .navbar-nav ul li a::after{
    margin-top: 28px;
  }
  .header .img{
    left: 27px;
  }
  .header h1{
    left: 76px;

  }
}


/* ------------------------ Page One iPad --------------------------*/

@media screen and (max-width: 744px){

  body .page-one{
    height: 400px;
  }
  body .page-one .text-title{
    width: 381px;
    height: 96px;
    left: 32px;
    top: 54px;

    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
  }
  body .page-one .text-body{
    width: 365px;
    height: 178px;
    left: 31px;
    top: 130px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  body .page-one .button-download-2{
    /* Button */
    padding: 8px 117px;
    gap: 10px;

    width: 328px;
    height: 40px;
    left: 32px;
    top: 285px;
  }
  body .page-one .bode-capa{
    width: 319.09px;
    height: auto;
    right: 0px;
    top: -6px;

  }
  body .page-one .celular{
    width: 160px;
    height: auto;
    left: 403px;
    top: 90px;
  }
  body .page-one .retangulo{
    height: 360px;
  }
}

/* ------------------------ Page One celular --------------------------*/

@media screen and (max-width: 414px){
  body .page-one{
    height: 500px;
  }
  body .page-one .text-title{
    width: 326px;
    height: 76px;
    left: 17px;
    top: 24px;

    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
  }
  body .page-one .text-body{
    width: 327px;
    height: 121px;
    left: 42px;
    top: -240px;
  }
  body .page-one .button-download-2{
    width: 326px;
    height: 40px;
    left: 17px;
    top: -100px;    
  }
  body .page-one .bode-capa{
    width: 255px;
    right: 0px;
    top: 300px;
  }
  body .page-one .celular{
    width: 148px;
    left: 57px;
    top: 15px;
    z-index: 2;
  }
  body .page-one .celular-2{
    position: absolute;
    display: block;

    width: 95px;
    height: auto;

    left: 14px;
    top: 50px;
    z-index: 0;
  }
  body .page-one .retangulo{
    height: 255px;
    top: 340px;
  }
}

/* ------------------------ Page Two iPad --------------------------*/

@media screen and (max-width: 744px){
  body .page-two .text-title {
    width: 380px;
    height: 76px;
    left: calc(50% - 380px/2);
    top: 520px;

    font-size: 20px;
    line-height: 25px;
  }
  body .page-two .card-1{
    width: 330px;
    height: 191px;
    left: 32px;
    top: 629px;
  }
  body .page-two .card-2{
    width: 330px;
    height: 191px;
    left: 382px;
    top: 629px;
  }
  body .page-two .card-3{
    width: 330px;
    height: 191px;
    left: 32px;
    top: 840px;
  }
  body .page-two .card-4{
    width: 330px;
    height: 191px;
    left: 382px;
    top: 840px;
  }
  body .page-two .card-5{
    width: 330px;
    height: 191px;
    left: 32px;
    top: 1051px;
  }
  body .page-two .card-6{
    width: 330px;
    height: 191px;
    left: 382px;
    top: 1051px;
  }
  body .page-two h3{
    margin-top: 38px;
    margin-left: 108px;
    width: 222px;
    height: 28px;
    
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
  body .page-two h4{
    margin-top: 8px;
    margin-left: 108px;
    width: 214px;
    height: 80px;
    
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
}

/* ------------------------ Page Two celular --------------------------*/

@media screen and (max-width: 414px){

  body .page-two .text-title {
    width: 327px;
    height: 76px;
    left: calc(50% - 327px/2 - 0.5px);
    top: 754px;
  }
  body .page-two .card-1{
    width: 327px;
    height: 191px;
    left: 42px;
    top: 854px;
  }
  body .page-two .card-2{
    width: 327px;
    height: 176px;
    left: 42px;
    top: 1065px;
  }
  body .page-two .card-3{
    width: 327.09px;
    height: 191px;
    left: 42px;
    top: 1261px;
  }
  body .page-two .card-4{
    width: 327.09px;
    height: 191px;
    left: 42px;
    top: 1472px;
  }
  body .page-two .card-5{
    width: 327.09px;
    height: 191px;
    left: 42px;
    top: 1683px;
  }
  body .page-two .card-6{
    width: 327.09px;
    height: 191px;
    left: 42px;
    top: 1894px;
  }
  body .page-two h3{
    margin-top: 38px;
    margin-left: 108px;
  }
  body .page-two h4{
    margin-top: 8px;
    margin-left: 108px;
  }

}


/* ------------------------ Page Three iPad --------------------------*/
@media screen and (max-width: 744px){
  body .page-three{
    height: 497px;
    top: 1320px;
  }
  body .img-bodes-2{
    display: block;
  }
  body .img-bodes{
    display: none;
  }
  body .page-three h1{
    width: 288px;
    height: 51px;
    left: calc(50% - 288px/2);
    margin-top: -450px;

    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
  }

  body .page-three .container{
    width: 70vw !important;
    left: 10% !important;
    top: 25% !important;
  }
  
  body .page-three .transition-div {
    width: 506px;
    height: 280px;
  }

  body .page-three h5{
    font-size: 14px;
    line-height: 22px;
  }
  body .page-three h6{
    font-size: 14px;
    line-height: 22px;
  }
  body .page-three .arrow-left{
    left: 32px;
  }
  body .page-three .arrow-right{
    right: 32px;
  }

  body .page-three .scrollable-content {
    position: absolute; 
    bottom: 45px; 
    left: 260px;
    width: 400px; /* Largura ajustável conforme sua necessidade */
    white-space: nowrap;
  }
  
  body .page-three .scrollable-content img {
    margin: 2px;
    height: auto;
    display: inline-block;
  }
}

/* ------------------------ Page Three celular --------------------------*/

@media (max-width: 414px){

  body .page-three{
    height: 563px;
    left: 0px;
    top: 2125px;
    z-index: 2;
  }
  body .img-bodes-2, body .img-bodes{
    display: none;
  }
  body .img-bodes-3{
    display: block;
    z-index: 3;
  }
  body .page-three h1{
    width: 288px;
    height: 51px;
    left: calc(50% - 288px/2);
    margin-top: -510px;
  }

  body .page-three .container{
    width: 100vw !important;
    left: -12px !important;
    top: 100px;
  }
  
  body .page-three .transition-div {
    width: 306px;
    height: 280px;
  }

  body .page-three .container h5{
    width: 270px;
    font-size: 13px;
    line-height: 18px;
  }
  body .page-three .container h6{
    width: 270px;
    font-size: 13px;
    line-height: 18px;
    margin-top: -40px;

  }
  body .page-three .comment-2{
    display: none;
  }
  body .page-three .arrow-left{
    left: 10%;
    top: 85%; 
  }
  body .page-three .arrow-right{
    right: 10%;
    top: 85%; 
  }

  body .page-three .scrollable-content {
    position: absolute; 
    left: 23.5%;
    bottom: 9%; 
    width: 800px; /* Largura ajustável conforme sua necessidade */
    white-space: nowrap;
  }
  
  body .page-three .scrollable-content img {
    margin: 2px;
    height: auto;
    display: inline-block;
  }
}

/* ------------------------ Page Four iPad --------------------------*/
@media screen and (max-width: 744px){
  body .page-four h1{
    width: 370px;
    height: 96px;
    left: 341px;
    top: 1860px;

    font-size: 26px;
    line-height: 32px;
  }
  body .page-four h5{
    width: 373px;
    height: 140px;
    left: 340px;
    top: 1985px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  body .page-four .button-download{
    width: 328px;
    height: 40px;
    left: 341px;
    top: 2134px;
  }
  body .page-four .bode-peso{
    width: 379px;
    height: 405px;
    left: -6px;
    top: 1817px;
  }
  body .page-four .pesando-bode{
    width: 278px;
    height: auto;
    left: 33px;
    top: 1970px;
  }
}

/* ------------------------ Page Four celular --------------------------*/

@media screen and (max-width: 414px){
  body .page-four h1{
    width: 340px;
    left: 42px;
    top: 2715px;

    font-size: 19px;
    line-height: 25px;
  }
  body .page-four h5{
    width: 350px;
    height: 160px;
    left: 42px;
    top: 2785px;
  }
  body .page-four .button-download{
    width: 327px;
    height: 40px;
    left: 42px;
    top: 2950px;
  }
  body .page-four .bode-peso{
    width: 359px;
    height: auto;
    left: -6px;
    top: 3020px;
    z-index: 3;
  }
  body .page-four .pesando-bode{
    width: 278px;
    height: auto;
    left: 97px;
    top: 3111px;
    z-index: 3;
  }
}

/* ------------------------ Page Five iPad --------------------------*/
@media screen and (max-width: 744px){

  body .page-five{
    height: 879px;
    left: 0px;
    top: 2222px;
  }
  body .page-five h1{
    width: 380px;
    height: 76px;
    left: calc(50% - 380px/2);
    top: calc(2334px - 2262px);

    font-size: 26px;
    line-height: 32px;
  }

  body .page-five .arrow-left{
    position: absolute;
    display: block;
    cursor: pointer;
    left: 70px;
    top: 50%;
  }

  body .page-five .arrow-left:hover{
    opacity: 0.5;
  }
  
  body .page-five .arrow-right{
    position: absolute;
    display: block;
    cursor: pointer;
    right: 70px;
    top: 50%;
  }

  body .page-five .arrow-right:hover{
    opacity: 0.5;
  }

  body .page-five h2{
    width: 337px;
    height: 30px;
    margin-left: 33px;
    top: 38px;
    font-size: 20px;
    line-height: 25px;
  }

  body .page-five h5{
    width: 294px;
    height: 80px;

    font-size: 14px;
    line-height: 20px;
    
  }

  body .page-five .cards{
    width: 53vw;
    left: 176px;
    top: 200px;
  }

  body .page-five .cards .transition-card{
    width: 413px;
    height: 459px;
    display: none;
  }

  body .page-five .cards .transition-card.show{
    display: block;
  }

  body .page-five .button-download{
    gap: 10px;

    width: 328px;
    height: 40px;
    left: 208px;
    top: calc(-160px);
  }

  body .page-five .scrollable-content-2 {
    position: absolute; 
    left: 281px;
    top: 711px;
    width: 800px; /* Largura ajustável conforme sua necessidade */
    white-space: nowrap;
  }
  
  body .page-five .scrollable-content-2 img {
    margin: 2px;
    height: auto;
    display: inline-block;
  }
}

/* ------------------------ Page Six iPad --------------------------*/
@media screen and (max-width: 744px){
  body .page-six {
    width: 677px;
    height: 279px;
    left: 32px;
    top: 3170px;
  }
  body .page-six h1{
    width: 274px;
    height: 63px;
    left: calc(396px - 32px);
    top: calc(3246px -  3210px);

    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
  }
  body .page-six h5{
    position: absolute;
    width: 289px;
    height: 80px;
    left: calc(396px - 32px);
    top: calc(3325px -  3210px);

    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  body .page-six .button-download{
    position: absolute;
    width: 274px;
    height: 40px;
    left: calc(396px - 32px);
    top: calc(3422px -  3210px);
  }
  body .page-six .ellipse{
    position: absolute; 
    width: 317.19px;
    height: auto;
    top: 36px;
  }
  body .page-six .bode-reader{
    position: absolute; 
    width: 324px;
    height: auto;
    left: 0px; 
    top: 29px;
  }
  
}

/* ------------------------ Page Six celular ---------------------------*/

@media screen and (max-width: 414px){
  body .page-six {
    width: 327px;
    height: 574px;
    left: 42px;
    top: 4270px;
  }
  body .page-six h1{
    width: 268px;
    height: 51px;
    left: calc(50% - 268px/2);
    top: 25px;

    text-align: center;
    font-size: 20px;
    line-height: 25px;
  }
  body .page-six h5{
    width: 305px;
    height: 119px;
    left: calc(50% - 305px/2 + 0.5px);
    top: 96px;

    text-align: center;
    font-size: 12px;
    line-height: 16px;
  }
  body .page-six .button-download{
    width: 274px;
    height: 40px;
    left: 28px;
    top: 225px;
  }
  body .page-six .ellipse3{
    position: absolute;
    display: block;
    width: 328px;
    height: auto;
    top: 291px;
    left: 0px;
  }
  body .page-six .ellipse{
    display: none;
  }
  body .page-six .bode-reader{
    width: 324px;
    height: auto;
    left: 0px; 
    top: 325px;
  }
}

/* ------------------------ Page Seven iPad --------------------------*/
@media screen and (max-width: 744px){
  body .page-seven {
    width: 745px;
    height: 816px;
    left: calc(50% - 745px/2 + 0.5px);
    top: 3471px;
  }
  body .page-seven h1{
    width: 365px;
    height: 62px;
    left: calc(745px/2 - 365px/2);
    top: calc(3512px - 3471px);

    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
  }
  body .page-seven h5{
    width: 542px;
    height: 81px;
    left: calc(745px/2 - 0.5px - 542px/2);
    top: calc(3654px - 3514px);
    
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  body .page-seven .container{
    left: 101px;
    top: 267px;
  }
  body .page-seven .submit{
    left: 109px;
  }
  body .page-seven .email{
    left: 161px;
    top: 723px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }
  body .page-seven .phone{
    left: 407px;
    top: 723px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }
}

/* ------------------------ Page Seven celular -------------------------*/

@media screen and (max-width: 414px){
  body .page-seven {
    width: 415px;
    height: 925px;
    left: calc(50% - 415px/2 - 1.5px);
    top: 4867px;
  }
  body .page-seven h1{
    width: 268px;
    height: 51px;
    left: calc(50% - 268px/2);
    top: 28px;

    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
  body .page-seven h5{
    width: 327px;
    height: 118px;
    left: calc(414px/2 + 1.0px - 327px/2);
    top: 109px;
  }
  body .page-seven .container{
    width: 328px;
    left: 42px;
    top: 258px;
  }

  body .page-seven .container .first-name{
    left: 6px; 
    top: 0px;
  }
  body .page-seven .container .second-name{
    left: 6px; 
    top: 78px;
  }
  body .page-seven .container .email2{
    left: 6px; 
    top: 156px;
  }
  body .page-seven .container .whatsapp{
    left: 6px; 
    top: 234px;
  }

  body .page-seven .container .mensage{
    left: 6px; 
    top: 312px;
  }

  body .page-seven .input-mensagem, body .page-seven .input-whatsapp,
  body .page-seven .input-email{
    width: 326px;
  }

  body .page-seven .submit{
    left: 6px;
    top: 510px;
    width: 326px;
  }
  body .page-seven .email{
    left: 122px;
    top: 843px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }
  body .page-seven .phone{
    left: 122px;
    top: 873px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }
}

/* ------------------------ Page Eight iPad --------------------------*/
@media screen and (max-width: 744px){
  body .page-eight h3{
    left: 257px;
    top: 4330px;
    text-align: center;
  }
  body .page-eight h5{
    width: 676px;
    top: 4370px;
    left: 32px;
    text-align: center;
  }

  body .page-eight h2{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px
  }

  body .page-eight .container {
    left: 111px;
    top: 4470px;
  }
  body .page-eight .contatos{
    top: 4551px; 
    left: 304px;
  }

  body .page-eight .menu-title{
    top: 4630px;
    left: 100px;
  }
  body .page-eight .contato-title{
    top: 4630px;
    left: 280px;
  }
  body .page-eight .baixe-app-title{
    top: 4630px; 
    left: 507px;
  }
  body .page-eight .menu{
    top: 4650px;
    left: 100px;
  }
  body .page-eight .contato2{
    top: 4650px; 
    left: 280px;
  }
  body .page-eight .google-play{
    top: 4675px; 
    left: 507px;
  }
  body .page-eight .apple-store{
    top: 4739px; 
    left: 507px;
  }
  body .page-eight .topo{
    top: 4880px; 
    left: 507px;
  }
  body .page-eight h4{
    top: 4900px; 
    left: 567px;
  }
  body .footer{ 
    left: 0px;
    height: 196px;
    top: 5000px;
  }
  body .footer img{
    left: 288px;
    bottom: 100px;
  }
  body .footer h2{
    left: 336px;
    bottom: 100px;
  }
  body .footer hr{
    width: 680px;
    left: 32px;
  }
  body .footer p{ 
    position: absolute;
    left: calc(50% - 324px/2 - 0.5px);
  }
}

/* -------------------- Page Eight celular ----------------------*/

@media screen and (max-width: 414px){
  body .page-eight h3{
    left: 80px;
    top: 5820px;
  }
  body .page-eight h5{
    width: 328px;
    top: 5860px;
    left: 42px;
  }

  body .page-eight h2{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    top: 2000px;
  }

  body .page-eight .container {
    left: 42px;
    top: 6020px;
  }
  body .page-eight .submit{
    top: 82px; 
    left: 0px;
    width: 326px;
  }
  body .page-eight .contatos{
    top: 6200px; 
    left: 134px;
  }
  body .page-eight .menu-title{
    top: 6269px;
    left: 42px;
  }
  body .page-eight .contato-title{
    top: 6269px;
    left: 203px;
  }

  body .page-eight .baixe-app-title{
    top: 6398px;
    left: 203px;
  }
  body .page-eight .menu{
    top: 6290px;
    left: 42px;
  }
  body .page-eight .contato2{
    top: 6290px; 
    left: 203px;
  }
  body .page-eight .google-play{
    top: 6452px; 
    left: 203px;
  }
  body .page-eight .apple-store{
    top: 6522px; 
    left: 203px;
  }
  body .page-eight .topo{
    top: 6605px; 
    left: 226px;
  }
  body .page-eight h4{
    top: 6625px; 
    left: 173px;
  }
  body .footer{ 
    left: 0px;
    height: 196px;
    top: 6700px;
  }
  body .footer img{
    left: 123px;
    bottom: 110px;
  }
  body .footer h2{
    left: 178px;
    bottom: 110px;
  }
  body .footer hr{
    width: 328px;
    left: 42px;
    bottom: 70px;
  }
  body .footer p{ 
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    left: calc(50% - 278px/2 - 2px);
  }
}