/* ------------------------ Navbar Desktop --------------------------*/
*{
  font-family: 'Montserrat';
  font-style: normal;  
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* width Scrollbar*/
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:hover{
  width: 10px;
}

/* Track Scrollbar */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle Scrollbar*/
::-webkit-scrollbar-thumb {
  background:  #B7E49F;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #B7E49F;

}

/* ------------------------ Navbar Desktop ------------------------*/

body .page-one .capa-desktop{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%; 
  height: 100%;

  background-size: cover;
}

body .page-one .capa-celular{
  display: none;
}

/* Estilo para o navbar fixo */
body .page-one .navbar.fixed {
  position: fixed;
  background: #000326;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);

  width: 100%;
  height: 100px;
  flex-shrink: 0;
  top: 0;
  z-index: 3;

}

body .page-one .navbar {
  position: absolute;
  background-color: transparent;
  padding: 20px;
  transition: color 0.3s ease; /* Transição suave de cor de fundo */
  position: fixed;
  top: 0;
  width: 100%;
}

body .page-one .navbar .logo{
  position: absolute;
  width: 40px;
  height: 34px;
  left: 80px;
  top: 19px;
}

body .page-one .navbar .navbar-nav{
  position: absolute;
  left: 400px;
  top: 48px;

  display: flex;
  align-items: center;
  text-align: center;
}

body .page-one .navbar .navbar-nav-2{
  position: absolute;
  left: 1139px;
  top: 36px;

  display: flex;
  align-items: center;
}

body .page-one .navbar .navbar-nav ul li, .navbar .navbar-nav-2 ul li{
  list-style: none;
  display: inline-block;
}

body .page-one .navbar .navbar-nav ul li a{
  margin: 0 25px;
 
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: #FFF; 
}

body .page-one .navbar .navbar-nav-2 ul li{
  margin: 0 10px;
}

body .page-one .navbar .navbar-nav a:hover{
  color: #B7E49F;
}

body .page-one .navbar .navbar-nav-2 a:hover{
  opacity: 0.5;
}

  body .page-one .navbar .menu-icon, body .page-one .navbar .fechar-menu{
    position: absolute;
    right: 32px;
    top: 37px;
    display: none;
    z-index: 4;
    gap: 20px; 
    align-items: center;
    cursor: pointer;
  }
  

/* ------------------------ Page One Desktop ------------------------*/

body .page-one .text-title{
  position: absolute;
  width: 640px;
  height: 165px;
  left: 80px;
  top: 237px;

  font-weight: 600;
  font-size: 28px;
  line-height: normal;

  letter-spacing: 0.1px;
  color: #FFF;
}

body .page-one .text-subtitle{
  position: absolute;
  width: 976px;
  height: 107px;
  left: 80px;
  top: 279px;

  font-weight: 600;
  font-size: 40px;
  line-height: normal;

  letter-spacing: 0.1px;
  color: #B7E49F; 
}

body .page-one .text-body{
  position: absolute;
  width: 974px;
  height: 93px;
  left: 80px;
  top: 404px;

  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  
  /* or 156% */
  letter-spacing: 0.1px;
  
  color: #FFF;
}

body .page-one .button-start{
  /* Auto layout */
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  position: absolute;
  width: 358px;
  height: 48px;
  left: 80px;
  top: 515px;;

  background: #B7E49F;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

body .page-one .button-start:hover{
  background: #FFF;
}

body .page-one .button-start h6{
 
 font-weight: 600;
 font-size: 14px;
 line-height: 18px;
 text-decoration: none;

 text-align: center;
 letter-spacing: 0.2px;

 color: #1E1E1E;;
}

body .page-one .folha{
  position: absolute;
  width: 500px;
  height: auto;
  right: 0px;
  top: 88px;
}




/* ------------------------ Page Two Desktop --------------------------*/

body .page-two{
  position: absolute;
  left: 0px;
  top: 639px; 
  flex-shrink: 0;

  width: 100%;
  height: 185px;

  background: #FAFAFA;
}

body .page-two img{
  margin-top: 60.5px;
  margin-left: 81px;
  align-items: center; 
}

/* ----------------------- Page Three Desktop -------------------------*/

body .page-three{
  position: absolute;
  width: 100%;
  height: 722px;
  left: 0px;
  top: 885px;
  }

body .page-three h1{
  margin-top: 70px;
  margin-left: 205px;
  width: 1030px;
  height: 113px;
  flex-shrink: 0;

  color: #0A531B;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px; /* 125% */
}

body .page-three .card-container {
  display: flex;
  justify-content: space-between; /* Distribuição igual na horizontal */
  padding: 20px; /* Espaçamento entre os cards */
  margin-top: 57px;
  }
  
body .page-three  .card {
  width: calc(33.33% - 20px); /* Espaço igual para cada card (margem incluída) */
  background-color: #FFF;
  padding: 20px;
  text-align: center;
  }

body .page-three .card .card-content {
  text-align: left; /* Alinhamento à esquerda para o conteúdo do card */
  }
  
body .page-three .card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 33px;
  }
  
body .page-three  .card h2 {
  flex-shrink: 0;
  margin-bottom: 18px;
  color: #0A531B;
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
  }
  
body .page-three  .card p {
  flex-shrink: 0;  
  color: #1E1E1E;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  }

body .page-three .preencher-forms{
  position: absolute;
  top: calc(1630px - 885px);
  width: 100%;
  height: 70px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  background-color: #0A531B;
  }

  body .page-three .preencher-forms a{
    text-decoration: none;
  }

  body .page-three .preencher-forms p{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
  }

  body .page-three .preencher-forms p:hover{
    color: #B7E49F;
  }

/* ------------------------ Page Four Desktop ---------------------------*/

body .page-four{
  position: absolute;
  width: 100%;
  height: 722px;
  left: 0px;
  top: 1700px;
}

body .page-four .prato-bio{
  position: absolute; 
  box-shadow: -4px 0px 4px 0px rgba(0, 0, 0, 0.05) inset;
}

body .page-four .content{
  position: absolute;
  width: 542px;
  top: calc(1741px - 1678px) ;
  left: 758px;
}

body .page-four h2{
  color: #1E1E1E;
  font-size: 24px;
  font-weight: 600;
  line-height: 50px; /* 208.333% */
}

body .page-four h1{
  margin-top: 6px;

  color: #0A531B;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px; /* 125% */
}

body .page-four p{
  margin-top: 32px;

  color: #1E1E1E;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}

body .page-four .container {
  position: absolute;
  margin-top: 549px;
  height: 195px;
  left: 670px;
  width: 700px;
  display: flex;
}

body .page-four .box {
  flex: 1;
  padding: 20px;
  text-align: center;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

body .page-four .box a {
  text-decoration: none;
  display: flex; /* Tornar o link um flex container */
  align-items: center; /* Alinhar itens verticalmente */
}

body .page-four .box p{
  color: #1E1E1E;
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
  width: 150px;
  text-align: left;
}

body .page-four .container .box img {
  max-width: 100px; /* Limitar a largura da imagem */
  height: auto;
}

body .page-four .container .box img:hover{
  opacity: 0.5;
}

/* Alinhar texto verticalmente com a imagem */
body .page-four .box a p {
  margin: 0; /* Remover margem padrão */
  display: inline; /* Tornar o parágrafo um elemento inline */
  vertical-align: middle; /* Alinhar verticalmente com a imagem */
  margin-left: 57px;
  margin-right: 38px; /* Espaço entre imagem e texto */
}

/* ------------------------ Page Five Desktop --------------------------*/

body .page-five{
  position: absolute;
  width: 100vw;
  height: 1407px;
  left: 0px;
  top: 2444px;
  
  background: #FFF;
}

body .page-five h1{
  margin-top: 70px;
  color: #0A531B;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px; /* 125% */
}

body .page-five .container {
  padding: 20px 20px 20px 40px;
  display: flex;
  flex-direction: column;
}

body .page-five .top, .page-five .bottom {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

body .page-five .left, .page-five .right {
  flex: 1;
}

body .page-five img {
  max-width: 100%;
  height: auto;
  border-radius: 0px 5px 5px 0px;
}

body .page-five .text-block {
  width: 630px;
  height: 381px;
  background-color: #f2f2f2;
  border-radius: 0px 5px 5px 0px;
  flex-shrink: 0;
}

body .page-five h2 {
  padding: 73px 50px 0px 50px; /* Topo Direita Inferior Esquerda */
  width: 630px;
  font-size: 40px;
  font-weight: 600;
  line-height: normal; 
  color: #0A531B; 
}

body .page-five p {
  width: 630px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  padding: 16px 50px 209px 50px; /* Topo Direita Inferior Esquerda */
}

/* ------------------------ Page Six Desktop --------------------------*/
body .page-six {
  position: absolute;
  width: 100%;
  height: 1251px;
  left: 80px;
  top: 3880px;
}

body .page-six h1{
  color: #0A531B;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px; /* 125% */
  margin-top: 0px;
  width: 1030px; 
  margin-left: 70px;

}

body .page-six .food-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  max-width: 1281px;
}

body .page-six .food-panel .section {
  flex-basis: calc(25% - 20px);
  height: 428px;
  padding: 20px;
  box-sizing: border-box;
}

body .page-six .food-panel .section .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

body .page-six .food-panel .section .row .food-item {
  flex: 1;
  margin: 21px;
}

body .page-six .food-panel .section .row .food-item img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  border-radius: 5px 5px 0px 0px; 
}

body .page-six .food-panel .section .row .food-item h3 {
  color: #1E1E1E;
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
  margin-top: 14px;
}

body .page-six .food-panel .section .row .food-item h4 {
  color: #5F5D5D;
  font-size: 16px;
  font-weight: 200;
  line-height: 20px;
}

body .page-six  .food-panel .section .row .food-item .availability {
  display: inline-flex;
  padding: 6px 9px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 14px;
  border-radius: 5px;
  background: #0A531B;

  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
}

body .page-six  .food-panel .section .row .food-item .preferred {
  display: inline-flex;
  padding: 6px 9px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 14px;
  border-radius: 5px;
  background: #BFECFF;

  color: #1E1E1E;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
}


/* ------------------------ Page Seven Desktop --------------------------*/

body .page-seven {
  position: absolute;
  width: 100%;
  height: 762px;
  left: 0px;
  top: 4800px;
  background-color: #f2f2f2;
}

body .page-seven h1{
  position: absolute;
  width: 542px;
  height: 227px; 
  left: 80px;
  top: calc(4450px - 4378px);

  font-weight: 600;
  font-size: 40px;
  line-height: 50px;

  /* or 125% */
  letter-spacing: 0.1px;

  color: #0A531B;
}

body .page-seven p{
  position: absolute;
  width: 542px;
  height: 227px; 
  left: 80px;
  top: calc(4590px - 4378px);

  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  /* or 156% */
  letter-spacing: 0.1px;

  color: #1E1E1E;
  }

  body .page-seven .container_form {
    position: absolute;
    flex-direction: column;
    left: 748px;
    top: 72px;
  }
  
  body .page-seven .container_form .first-name{
    position: absolute; 
    left: 0px; 
    top: 0px;
  }

  body .page-seven .container_form .second-name{
    position: absolute; 
    left: 295px; 
    top:0px;
    }

  body .page-seven .container_form .email2{
    position: absolute; 
    left: 0px; 
    top:78px;
  }

  body .page-seven .container_form .whatsapp{
    position: absolute; 
    left: 295px; 
    top:78px;
    }

  body .page-seven .container_form .mensage{
    position: absolute; 
    left: 0px; 
    top:156px;
  }

  body .page-seven .input-email {
  
    box-sizing: border-box;
  
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 9px 16px;
    gap: 10px;
  
    width: 263px;
    height: 40px;
  
    background: #FFFFFF;
  
    /* BodeTech/Background/Dividers & Borders */
    border: 1px solid #ECECED;
    border-radius: 5px;
  }
  
  body .page-seven .label-email{
    width: 267px;
    height: 16px;

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
  
    /* BodeTech/Text/Primary */
    color: #252940;
  }
  
  body .page-seven .input-whatsapp {
  
    box-sizing: border-box;
  
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 9px 16px;
    gap: 10px;
  
    width: 263px;
    height: 40px;
  
    background: #FFFFFF;
  
    /* BodeTech/Background/Dividers & Borders */
    border: 1px solid #ECECED;
    border-radius: 5px;
  }
  
  body .page-seven .label-whatsapp{
    width: 267px;
    height: 16px;

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  
    /* identical to box height, or 114% */
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
  
    /* BodeTech/Text/Primary */
    color: #252940;
  }

  body .page-seven .input-mensagem {
  
    box-sizing: border-box;
  
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 9px 16px;
    gap: 10px;
  
    width: 558px;
    height: 155px;
  
    background: #FFFFFF;
  
    /* BodeTech/Background/Dividers & Borders */
    border: 1px solid #ECECED;
    border-radius: 5px;
  }
  
  ::placeholder {
    width: 167px;
    height: 21px;

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  
    /* or 129% */
    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
  
    /* BodeTech/Text/Default */
    color: #D3D4D7;
  }

body .page-seven .submit{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;

    font-weight: 600;
    font-size: 16px;
    line-height: 18px;

    /* identical to box height, or 129% */
    text-align: center;
    letter-spacing: 0.2px;

    /* BodeTech/Text/Primary */
    color: #1E1E1E;

    position: absolute;
    width: 558px;
    height: 56px; 
    left: 0px;
    top: 373px;

    background: #B7E49F;
    border-radius: 5px;
    transition: 0.3s;

  }

  body .page-seven .submit:hover{
    background: #0A531B;
    color: #FFF;
  }

  body .page-seven .email {
    position: absolute;
    left: 108px;
    top: 342px;
    display: flex;
    align-items: center;
  }
  
  body .page-seven .phone {
    position: absolute;
    left: 108px;
    top: 392px;
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  body .page-seven .contatos a {
    text-decoration: none;
    font-size: 16px;
    color: #1E1E1E;
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Espaçamento vertical entre os contatos */
    padding-left: 20px; /* Espaçamento da esquerda */
    transition: color 0.3s ease;
  }
  
  body .page-seven .contatos a img {
    max-width: 20px; /* Ajuste o tamanho da imagem conforme necessário */
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
  }
  
  body .page-seven .contatos a:hover {
    color: #B7E49F;
  }
  

/* ------------------------ Footer Desktop --------------------------*/

body .footer{ 
  position: absolute;
  width: 100vw;
  height: 400px;
  flex-shrink: 0;  
  left: 0px;
  top: 5395px;
  background: #000326;
}

body .footer .logo{
  position: absolute;
  width: 100%;
  height: auto;
  flex-shrink: 0;  
  padding-left: 90px;
  margin-top: 68px;
}

body .footer .folhas{
  position: absolute;
  margin-left: 110px !important;
  z-index: 1;
}

body .footer .menu {
  float: left;
  padding-left: 260px; /* Espaçamento da esquerda */
}

body .footer .contatos {
  float: left;
  padding-left: 80px; /* Espaçamento da esquerda */
  text-align: left;
}

body .footer .menu-title,
body .footer .contato-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #fff;
  margin-top: 70px;
}

body .footer .menu ul,
body .footer .contatos ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body .footer .menu li,
body .footer .contatos li {
  margin-bottom: 15px;
}

body .footer .menu a,
body .footer .contatos a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  display: block;
  padding: 10px 0;
  transition: color 0.3s ease;
}

body .footer .menu a:hover,
body .footer .contatos a:hover {
  color: #B7E49F;
}


body .footer p{ 
  position: absolute;
  left: calc(50% - 270px/2);
  bottom: 48px;
  
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  
  color: #FFF;  
}

body .footer hr{
  position: absolute;
  width: 1200px;
  height: 1px;
  left: 80px;
  right: 80px;
  bottom: 80px;
  border: none;
  background-color: #FFF;
}

body .footer .sucesso{
  position: absolute;
  margin-top: 68px;
  margin-left: 760px;
  z-index: 2;
  color: #FFF;
}

body .footer .forms{
  position: absolute;
  margin-top: 68px;
  margin-left: 760px;
  z-index: 2;
}

body .footer .label-email{

  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;

  /* or 114% */
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;

  color: #FFF;
}

body .footer .submit{
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;

  font-weight: 600;
  font-size: 14px;
  line-height: 18px;

  /* identical to box height, or 129% */
  text-align: center;
  letter-spacing: 0.2px;

  /* BodeTech/Text/Primary */
  color: rgba(37, 41, 64, 1);
  left: 345px;
  top: 20px;

  position: absolute;
  width: 185px;
  height: 40px;
 
  background:rgba(183, 228, 159, 1);
  border-radius: 5px;
}

body .footer .submit:hover{
  background: #0A531B;
  color: #FFF;
}

body .footer .input-email{
  
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 9px 16px;
  gap: 10px;

  width: 325px;
  height: 40px;

  background: #FFFFFF;

  /* BodeTech/Background/Dividers & Borders */
  border: 1px solid #ECECED;
  border-radius: 5px;
}

body .footer .midias {
  position: absolute;
  margin-left: 755px;
  margin-top: 135px;
  z-index: 2;
}

body .footer .midias ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Aplica flexbox ao nível da lista */
}

body .footer .midias ul li {
  margin: 0 5px;
}

body .footer .midias a {
  text-decoration: none;
  display: block; /* Define o link como bloco para ocupar o espaço total do li */
}

/* Estilo para as imagens dentro das âncoras */
body .footer .midias a img {
  max-width: 100%;
  height: auto;
  cursor: pointer; /* Define o cursor como ponteiro ao passar por cima da imagem */
}

body .footer .midias a:hover{
  opacity: 0.5;
}


/* ------------------------ Navbar celular --------------------------*/

@media screen and (max-width: 414px){

  body .page-one .capa-desktop{ 
    display: none;
  }

  body .page-one .capa-celular{ 
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 708px;
    background-size: cover;
  }
  
  body .page-one .navbar.fixed, body .page-one .navbar {
    max-width: 414px;
    width: 100vw;
  }

  body .page-one .navbar .logo{
    left: 26px;
    top: 20px;
  }

  body .page-one .navbar .navbar-nav{
      position: absolute;
      width: 414px;
      height: 640px;
      left: 0px;
      top: 0px;
      z-index: 2;
      align-items: center;
      background: rgba(0, 3, 38, 1);
  }
  
  body .page-one .navbar .navbar-nav-2{
    display: none;
  }

  body .page-one .navbar .navbar-nav ul{
    top: -50px;

  }
  
  body .page-one .navbar .navbar-nav ul li{
    display: block;
    text-align: center;
    margin-left: 90px;
    margin-top: 40px;
  }
  
  body .page-one .navbar .navbar-nav ul li a{
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }

  body .page-one .navbar .navbar-nav ul li a::after{
    content: '';
    
    position: absolute;
    width: 354px;
    height: 0px;
    left: 30px;
    margin-top: 40px;
    /* BodeTech/Background/Dividers & Borders */
    border: 1px solid rgba(255, 255, 255, 0.4);

  }
  
  body .page-one .navbar .menu-icon{
    display: flex;
  }

  body .page-one .navbar .menu-icon h2, body .page-one .navbar .fechar-menu h2 {
    margin: 0; /* Remove as margens padrão do h2 */
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
    line-height: normal;
  }

  body .page-one .navbar .fechar-menu:hover,
  body .page-one .navbar .menu-icon:hover{
    opacity: 0.5;
    }
    #menuList{
      overflow: hidden;
    }
  }


/* ------------------------ Page one celular --------------------------*/

@media screen and (max-width: 414px){

  body .page-one .text-title{
    left: 26px;
    top: 142px;
  
    font-weight: 600;
    font-size: 22px;
  }
  
  body .page-one .text-subtitle{
    width: 328px;
    height: 197px;
    left: 26px;
    top: 184px;
  
    font-weight: 600;
    font-size: 32px;
  }
  
  body .page-one .text-body{
    width: 372px;
    height: 201px;
    left: 26px;
    top: 399px;
    font-weight: 500;
    font-size: 16px;
  }
  
  body .page-one .button-start{
    width: 372px;
    height: 48px;
    left: 26px;
    top: 618px;;
  }
  
  body .page-one .folha{
    display: none;
  }
}

/* ------------------------ Page two celular --------------------------*/

@media screen and (max-width: 414px){
  body .page-two {
    top: 708px; 
    height: 80px;
    max-width: 414px;
    position: relative; /* Adicione essa propriedade */
  }
  
  body .page-two img {
    max-width: 100vw;
    height: auto; 
    position: absolute; /* Adicione essa propriedade */
    transform: translate(-5%, -5%);
    margin-top: 30.5px;
    margin-left: 20px;
    background-size: contain; /* Ajusta a imagem proporcionalmente */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
  }
}

/* ------------------------ Page Three celular --------------------------*/

@media (max-width: 414px){

  body .page-three{
    max-width: 100vw;
    height: 722px;
    top: 788px;
    }
  
  body .page-three h1{
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 26px;
    width: 374px;
    text-align: left;
  
    font-weight: 600;
    font-size: 28px;
    line-height: normal;
  }
  
  body .page-three .card-container {
    display: block;
    justify-content: space-between; /* Distribuição igual na horizontal */
    padding: 10px; /* Espaçamento entre os cards */
    margin-top: 0px;
    margin-left: 26px;
    }
    
  body .page-three  .card {
    width: calc(100% - 20px); /* Espaço igual para cada card (margem incluída) */
    background-color: #FFF;
    padding: 10px;
    text-align: center;
    }
  
  body .page-three .card img {
      max-width: 100%;
      height: auto;
      margin-bottom: 15px;
    }
    
  body .page-three  .card h2 {
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 22px;
    }
    
  body .page-three  .card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px; /* 187.5% */
    }
  
  body .page-three .preencher-forms{
    position: absolute;
    top: 1450px;
    width: 414px;
    margin-left: 0px;
    }
  
    body .page-three .preencher-forms p{
      font-size: 16px;
    }
}

/* ------------------------ Page Four celular --------------------------*/

@media screen and (max-width: 414px){

  body .page-four{
    max-width: 100vw;
    height: 120px;
    top: 2300px;
  }
  
  body .page-four .prato-bio{
    width: 414px;
    height: auto;
    margin-left: 0px;
    z-index: -1;
  }
  
  body .page-four .content{
    width: 414px;
    margin-top: 420px;
    left: 26px;
    margin-right: 20px;
  }
  
  body .page-four h3{
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 8px;
  }
  
  body .page-four h1{
    margin-top: 0px;
    font-size: 28px;
    font-weight: 600;
    line-height: normal; 
    width: 362px;
  }
  
  body .page-four p{
    margin-top: 32px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    width: 362px;
  }
  
  body .page-four .container {
    margin-top: 980px;
    height: 195px;
    left: 0px;
    width: 414px;
    display: block;
  }
  
  body .page-four .box p{
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
  }
    
}

/* ----------------------- Page Five celular -------------------------*/

@media screen and (max-width: 414px){
  body .page-five{
    height: 0px;
    max-width: 0px;
    left: 0px;
    display: none;
  }
  
  /* 
    body .page-five{
    height: 0px;
    width: 0px;
    display: none;
  }

  body .page-five h1{
    margin-top: 20px;
    margin-left: 26px;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
    width: 362px;
  }
  
  body .page-five .container {
    padding: 20px 20px 20px 26px;
    display: block;
    flex-direction: column;
  }
  
  body .page-five .top, .page-five .bottom {
    display: block;
    align-items: center;
    margin-top: 20px;
  }
  
  body .page-five .left, .page-five .right {
    flex: 1;
  }
  
  body .page-five img {
    max-width: 100%;
    height: auto;
    border-radius: 0px 5px 5px 0px;
  }
  
  body .page-five .text-block {
    width: 377px;
    height: 224px;
    border-radius: 0px 5px 5px 0px;
    flex-shrink: 0;
  }
  
  body .page-five h2 {
    padding: 35px 26px 0px 26px; 
    width: 377px;
    font-size: 22px;
    line-height: normal;
    font-weight: 600;
  }
  
  body .page-five p {
    width: 377px;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    padding: 16px 26px 100px 26px; 
  }
  */
}
/* ------------------------ Page Six celular ---------------------------*/

@media screen and (max-width: 414px){
  body .page-six {
    max-width: 100vw;
    height: 2050px;
    left: 26px;
    top: 3500px;
  }
  
  body .page-six h1{
    text-align: left;
    font-size: 30px;
    font-weight: 600;
    line-height: normal; /* 125% */
    margin-top: 10px;
    margin-left: 0px;
    width: 362px;   
  }
  
  body .page-six .food-panel {
    display: block;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    max-width: 362px;
  }
  
  body .page-six .food-panel .section {
    flex-basis: calc(5% - 0px);
    height: 1020px;
    padding: 30px;
    box-sizing: border-box;
  }
  
  body .page-six .food-panel .section .row {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  body .page-six .food-panel .section .row .food-item {
    flex: 1;
    margin: 20px -50px; /* Altere a margem horizontal aqui */
  }
  
  body .page-six .food-panel .section .row .food-item img {
    width: 371px;
    height: auto;
    flex-shrink: 0;
    border-radius: 5px 5px 0px 0px; 
  }
  
  body .page-six .food-panel .section .row .food-item h3 {
    font-size: 28px;
    font-weight: 600;
    margin-top: 14px;
  }
  
  body .page-six .food-panel .section .row .food-item h4 {
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
  }
  
  body .page-six  .food-panel .section .row .food-item .availability {
    display: inline-flex;
    padding: 6px 9px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 14px;
    border-radius: 5px;
  
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
  }
  
  body .page-six  .food-panel .section .row .food-item .preferred {
    display: inline-flex;
    padding: 6px 9px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 14px;
    border-radius: 5px;
  
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
  }
}

/* ------------------------ Page Seven celular -------------------------*/

@media screen and (max-width: 414px){

  
body .page-seven {
  max-width: 100vw;
  height: 400px;
  left: 0px;
  top: 5850px;
  background-color: #FAFAFA;
}

body .page-seven h1{
  width: 362px;
  height: 227px; 
  left: 26px;
  top: 30px;

  font-weight: 600;
  font-size: 28px;
  line-height: normal;
}

body .page-seven p{
  width: 362px;
  height: 176px; 
  left: 26px;
  top: 128px;

  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  }

  body .page-seven .email {
    left: 35px;
    top: 300px;
  }
  
  body .page-seven .phone {
    left: 35px;
    top: 350px;
  }

  body .page-seven .container_form {
    flex-direction: column;
    left: 26px;
    top: 430px;
  }

  body .page-seven .container_form .first-name{
    left: 0px; 
    top: 0px;
  }

  body .page-seven .container_form .second-name{
    left: 0px; 
    top: 70px;
    }

  body .page-seven .container_form .email2{
    left: 0px; 
    top: 140px;
  }

  body .page-seven .container_form .whatsapp{
    left: 0px; 
    top: 210px;
    }

  body .page-seven .container_form .mensage{
    left: 0px; 
    top: 280px;
  }

  body .page-seven .input-email {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 9px 16px;
    gap: 10px;
  
    width: 362px;
    height: 40px;
  }
  
  body .page-seven .label-email{
    width: 362px;
    height: 16px;

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
  
  body .page-seven .input-whatsapp {
  
    box-sizing: border-box;
  
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 9px 16px;
    gap: 10px;
  
    width: 362px;
    height: 40px;

  }
  
  body .page-seven .label-whatsapp{
    width: 362px;
    height: 16px;

    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  body .page-seven .input-mensagem {
  
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 9px 16px;
    gap: 10px;
  
    width: 362px;
    height: 155px;
  }
  
  ::placeholder {
    width: 167px;
    height: 21px;

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }

body .page-seven .submit{

    font-weight: 600;
    font-size: 14px;
    line-height: 18px;

    width: 362px;
    height: 48px; 
    left: 0px;
    top: 480px;
  }

}



/* ------------------------ Footer celular --------------------------*/

@media screen and (max-width: 414px){

body .footer{ 
  max-width: 100vw;
  height: 890px;
  left: 0px;
  top: 6850px;
}

body .footer .logo{
  padding-left: 26px;
  margin-top: 20px;
}

body .footer .folhas{
  display: none;
  width: 0px;
}

body .footer .menu {
  margin-top: 40px;
  padding-left: 26px; /* Espaçamento da esquerda */
}

body .footer .contatos {
  position: absolute;
  padding-left: 26px; /* Espaçamento da esquerda */
  margin-top: 260px;
}

body .footer .menu-title,
body .footer .contato-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 80px;
}

body .footer .menu li,
body .footer .contatos li {
  margin-bottom: 15px;
}

body .footer .menu a,
body .footer .contatos a {
  font-size: 16px;
  display: block;
  padding: 10px 0;
}


body .footer p{ 
  left: 26px;
  bottom: 50px;
  width: 362px;
  
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

body .footer hr{
  width: 362px;
  height: 1px;
  left: 26px;
  right: 26px;
  bottom: 110px;
}

body .footer .sucesso{
  width: 362px;
  margin-top: 520px;
  margin-left: 26px;
}

body .footer .forms{
  width: 362px;
  margin-top: 520px;
  margin-left: 26px;
}

body .footer .label-email{

  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;

  /* or 114% */
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
}

body .footer .submit{
  /* Auto layout */
  display: flex;

  font-weight: 600;
  font-size: 14px;
  line-height: 18px;

  left: 0px;
  top: 80px;

  width: 362px;
  height: 40px;

}


body .footer .input-email{
  
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 9px 16px;
  gap: 10px;

  width: 362px;
  height: 40px;

}

body .footer .midias {
  margin-left: 80px;
  margin-top: 690px;
}


body .footer .midias ul li {
  margin: 0 25px;
}
}